<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Будильник</title>
    <link href="ionic/css/ionic.css" rel="stylesheet" />
</head>

<body>
    <div class="bar bar-header">
        <div class="h1 title">Настройка будильника</div>
    </div>
    <div class="content has-header">
        <form style="min-height: 500px;">
        {% if work %}
            <div class="item item-divider">
                Будни
            </div>
            <ul class="list">
                {% for time in work %}
                    <li class="item item-toggle">
                        {{ time.hour }}:{{ time.min }}
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" name="work[]" value="{{ time.value }}" {% if time.checked %} checked="checked" {% endif %}>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if weekend %}
            <div class="item item-divider">
                Выходные
            </div>
            <ul class="list">
                {% for time in weekend %}
                    <li class="item item-toggle">
                        {{ time.hour }}:{{ time.min }}
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" name="weekend[]" value="{{ time.value }}" {% if time.checked %} checked="checked" {% endif %}>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>
        <div class="clearfix">&nbsp;</div>
    </div>
    <script type="text/javascript" src="zepto.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>